<!doctype html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<title>sakuraアンケート</title>
</head>
<body>
  <div class="container">
    <h1>sakuraアンケート</h1>
    <div class="center-block" style="width: 400px">
      <a class="btn btn-primary" href="/view/questionary"
         style="width:300px" role="button">アンケート</a></p>
      <a class="btn btn-primary" href="/view/hello"
         style="width:300px" role="button">テスト(hello)</a></p>
      <a class="btn btn-primary" href="/view/questionarybuilder"
         style="width:300px" role="button">アンケート・ビルダー</a></p>
      <a class="btn btn-primary" href="/view/about"
         style="width:300px" role="button">about</a></p>
    </div>

  </div>
</body>
</html>
